In [26]:
# !pip install scipy
# !pip install pandas
# !pip install sentence-transformers
import scipy
import pandas as pd 
import pickle 
import re 
import string
from sentence_transformers import SentenceTransformer

In [27]:
df = pd.read_csv('./train.csv')

In [36]:
df.sample(5)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
64762,ad52e76a09ed37fb,i want you to do me in the bum,1,0,0,0,0,0
132558,c532c4855c95c7e8,racist stuff on mainpage i cant bleive you a...,1,0,0,0,0,0
139143,e8a6d250a462e818,yamla get a life,1,0,0,0,0,0
90727,f2bd4fd6b37772ad,no i do not plan to ask you for advice as you ...,1,0,1,0,1,0
153345,9b629ec103eb7d84,urdu do not be gullible and fall for indian ...,1,0,0,0,0,0

In [37]:
df[df['id']=='e3b8bc8940f2a818']['comment_text']

138234    oaks and homophobia i provided a full citation...
Name: comment_text, dtype: object

In [38]:
df = (df[(df['toxic']==1) | (df['severe_toxic']==1) | (df['obscene']==1) | (df['threat']==1) | \
       (df['insult']==1) | (df['identity_hate']==1)])

In [39]:
df.shape

(16225, 8)

In [40]:
df.sample(5)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
99204,12a804c51cc46bb9,canadianbacon is a fucking douche bag,1,0,1,0,1,0
38706,6743c107ecb66c70,go f yourself m fuker you are a modi ass fucke...,1,1,1,0,1,1
86597,e7a09a04eb831d30,current event wtf is the current event about,1,0,1,0,0,0
12121,201811d6c781b09b,yoder is the fucking man,1,0,1,0,1,0
106451,397f8394784d77a9,if you want to leave the article a bunch of li...,1,0,0,0,0,0

In [33]:
import re
import string
def  clean_text(text):
    text =  text.lower()
    text = re.sub(r"i'm", "i am", text)
    text = re.sub(r"\r", "", text)
    text = re.sub(r"he's", "he is", text)
    text = re.sub(r"she's", "she is", text)
    text = re.sub(r"it's", "it is", text)
    text = re.sub(r"that's", "that is", text)
    text = re.sub(r"what's", "that is", text)
    text = re.sub(r"where's", "where is", text)
    text = re.sub(r"how's", "how is", text)
    text = re.sub(r"\'ll", " will", text)
    text = re.sub(r"\'ve", " have", text)
    text = re.sub(r"\'re", " are", text)
    text = re.sub(r"\'d", " would", text)
    text = re.sub(r"\'re", " are", text)
    text = re.sub(r"won't", "will not", text)
    text = re.sub(r"can't", "cannot", text)
    text = re.sub(r"n't", " not", text)
    text = re.sub(r"n'", "ng", text)
    text = re.sub(r"'bout", "about", text)
    text = re.sub(r"'til", "until", text)
    text = re.sub(r"[-()\"#/@;:<>{}`+=~|.!?,]", "", text)
    text = text.translate(str.maketrans('', '', string.punctuation)) 
    text = re.sub("(\\W)"," ",text) 
    text = re.sub('\S*\d\S*\s*','', text)
    
    return text

In [34]:
# df['comment_text'] = df['comment_text'].str.lower()
df['comment_text'] = df['comment_text'].apply(clean_text)

In [35]:
df.sample(10)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate
56336,968969226d2aea90,ritual murder ritual murder,1,0,0,0,0,0
57756,9a90d25059773747,cumulus cloud get a life you loser cumulus c...,1,0,0,0,0,0
108937,4679eb825d7fb1d5,fuck with wikipedia doosh bags,1,0,1,0,0,0
130606,baa697fc5a80ee13,fuck off fuck off slanteye,1,1,1,0,1,0
23960,3f43ba09b7379f84,hey fag why you gotsta delete my edits fag,1,0,1,0,1,0
81224,d94b76b291a099b7,int addint a int b being a vandal fuck ...,1,0,1,0,1,0
78431,d1df57dd42a778e5,all you people suck i found it myself it is ca...,1,0,1,0,0,0
115750,6b07732224e185f1,stormie likes men if you look at his face it l...,1,0,0,0,0,0
63286,a9577ad4d2d69c3b,runescape is gay everyone join world of warcra...,1,0,0,0,1,0
95253,feac5bc4552c836b,and for those reasons i despise china as wel...,1,0,0,0,0,0

In [11]:
df['flag_toxic'] = 1

In [12]:
df.sample(10)

,id,comment_text,toxic,severe_toxic,obscene,threat,insult,identity_hate,flag_toxic
28202,4aac4c9d44c3f245,awwwwwwww you were called a fuckknuckle diddum...,1,0,1,0,1,0,1
156621,d13effbe84553680,adam rose john cena lover why do you de...,0,0,1,0,1,0,1
8777,174b28aca3fc0228,tell that crap to amib will ya,1,0,0,0,0,0,1
18238,302750e68922471c,you are all racist you are all jews,1,0,0,0,1,0,1
153141,98179215f3d35f14,wow lol you even restore the question sig...,1,0,0,0,0,0,1
8690,17153baffc4d82c6,call me out for being a queer,1,0,0,0,0,0,1
31588,53de433338e3fc72,muslim lover you are scared of islam,1,0,0,0,0,0,1
106689,3a9e459f5f5cccfc,do you know who else believed in censorship ...,1,1,0,0,0,0,1
125389,9eae1a5192c1077d,thanks for reading i appreciate it you shoul...,0,0,1,0,0,0,1
137326,dec397cf974a9c78,quit with the crap okay too many people are...,1,0,0,0,0,0,1

In [13]:
df.drop(['toxic', 'severe_toxic', 'obscene', 'threat', 'insult', 'identity_hate'], axis = 1, inplace=True)

In [14]:
df

,id,comment_text,flag_toxic
6,0002bcb3da6cb337,cocksucker before you piss around on my work,1
12,0005c987bdfc9d4b,hey what is it talk what is it an exclusive...,1
16,0007e25b2121310b,bye do not look come or think of comming bac...,1
42,001810bf8c45bf5f,you are gay or antisemmitian archangel white...,1
43,00190820581d90ce,fuck your filthy mother in the ass dry,1
...,...,...,...
159494,fef4cf7ba0012866,our previous conversation you fucking shi...,1
159514,ff39a2895fc3b40e,you are a mischievious pubic hair,1
159541,ffa33d3122b599d6,your absurd edits your absurd edits on great...,1
159546,ffb47123b2d82762,hey listen do not you ever delete my edits e...,1
159554,ffbdbb0483ed0841,and i am going to keep posting the stuff u del...,1

In [15]:
bert_based_embedder = SentenceTransformer('bert-base-nli-mean-tokens')

In [16]:
input_sentences = df['comment_text'].tolist()

In [ ]:
input_sentence_embeddings = bert_based_embedder.encode(input_sentences)

In [1]:

# with open('input_sentence_clean_embeddings.pickle', 'wb') as file:
#     pickle.dump(query_embeddings, file)
#     file.close()

In [17]:

with open('query_embeddings_clean.pickle', 'rb') as file:
    
    input_sentence_embeddings = pickle.load(file)

In [18]:

def check(comment):
    comment_embeddings = bert_based_embedder.encode(comment)
    distances = scipy.spatial.distance.cdist(input_sentence_embeddings, [comment_embeddings], "cosine")[0]
    print(1-distances)
    if(1-distances>=0.5):
        x = 'The above statement needs to be flagged'
        return x
    
    else:
        x = 'Nothing wrong here'
        return x
    
    
value = check('It was a good day !')

[0.05024188]

In [19]:
value = check('It was a good day !')
value

[0.05024188]

'Nothing wrong here'

In [42]:
%%time
value = check('Shut up you imbecile !')
value

[0.62924553]
CPU times: user 113 ms, sys: 12 ms, total: 125 ms
Wall time: 123 ms

'The above statement needs to be flagged'

In [43]:
%%time
value = check('take your dumb @$$ away from here')
value

[0.55886211]
CPU times: user 115 ms, sys: 12 ms, total: 127 ms
Wall time: 124 ms

'The above statement needs to be flagged'

In [22]:
value = check('I prefer supporting the usual norms rather than doing something revolutionary')
value

[0.29671097]

'Nothing wrong here'

In [23]:
# !pip install gradio
value = check('shut up u moron')
value

[0.56890382]

'The above statement needs to be flagged'

In [24]:
value = check('fuck you moron')
value

[0.60008562]

'The above statement needs to be flagged'